body{
    margin: 0;
    height: 100vh;
}

canvas{
    display: block;    
}

h1 {
    position: absolute;
    top: 1em;
    left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
}

button{
    position: absolute;
    top: 10em;
    left: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    background-color: transparent !important;
    padding: .2em;
}

a{
    position: absolute;
    bottom: 2em;
    left: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;   
    padding: .2em;
}